<a href="https://colab.research.google.com/github/Lucascvlh/Curso-Python-MySQL/blob/main/fun%C3%A7%C3%B5es_avan%C3%A7adas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#list comprehension
x = [1,2,3,4,5]
y = [i**2 for i in x]
z = [i for i in x if i%2==1]

print(x)
print(y)
print(z)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]
[1, 3, 5]

In [6]:
#Enumerate
lista = ["abacate","bola","cachorro"]

for i, nome in enumerate(lista):
  print(i, nome)

0 abacate
1 bola
2 cachorro
0 abacate
1 bola
2 cachorro

In [10]:
# filter

def pares(i):
  if i%2 == 0:
    return i

lista = [1,2,3,4,5,6,7,8,9,10]

lista_pares = filter(pares, lista)
print(list(lista_pares))

[2, 4, 6, 8, 10]

In [12]:
#Reduce
from functools import reduce

def soma(x,y):
  return x + y

lista = [1,3,5,9,10,50]

soma = reduce(soma, lista)

print(soma)

78

In [13]:
#Zip

lista1 = [1,2,3,4,5]
lista2 = ["abacate","bola","cachorro","Elefante","Dinheiro"]

for numero, nome in zip (lista1, lista2):
  print(numero, nome)

1 abacate
2 bola
3 cachorro
4 Elefante
5 Dinheiro

In [16]:
#Map

def dobro(x):
  return x *2

valor = [1,2,3,4,5]

valor_dobrado = map(dobro, valor)

valor1 = list(valor_dobrado)
print(valor1)

for v in valor_dobrado:
  print(v)

[2, 4, 6, 8, 10]

In [17]:
#Lambda

valor = [1,2,3,4,5]

valor_dobrado = map(lambda i:i*2, valor)

valor_dobrado = list(valor_dobrado)
print(valor_dobrado)

[2, 4, 6, 8, 10]