<a href="https://colab.research.google.com/github/Lucascvlh/Curso-Python-MySQL/blob/main/Objetos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
minha_lista = ["Abacaxi","Melancia","Abacate"]
print(minha_lista)
print(minha_lista[2])

tamanho = len(minha_lista)
print(tamanho)

for item in minha_lista:
  print(item)

minha_lista.append("limão")
print(minha_lista)

del minha_lista[2:]
print(minha_lista)

['Abacaxi', 'Melancia', 'Abacate']
Abacate
3
Abacaxi
Melancia
Abacate
['Abacaxi', 'Melancia', 'Abacate', 'limão']
['Abacaxi', 'Melancia']

In [18]:
lista = [23,35,98,384,20,1,3,8,7]
lista.sort()
print(lista)
lista.reverse()
print(lista)

[1, 3, 7, 8, 20, 23, 35, 98, 384]
[384, 98, 35, 23, 20, 8, 7, 3, 1]